html{
background: #c7c9c9;

}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

/* Start button styling */
.start_btn button{
	font-family: 'LINESeedKR-Bd';
       font-size: 50px;
       font-weight: 700px;
       text-align: center;
       text-decoration: none;
       color: black;
       padding: 63px 205px;
       outline: 120px solid;
       outline-color: #3b56a6;
       border-radius: 8px;
       border:20px;
       background:#c7c9c9;
       cursor: pointer;

}


.open-button {
font-family: 'LINESeedKR-Bd';
  font-size: 50px;
  font-weight: 700px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 120px 205px;
  border: 100px solid;
  border-radius: 16px;
  border-color:#3b56a6; 
  cursor: pointer;
  background-color: #c7c9c9;
  position:absolute;
  top:865%;
  left:50%;
  transform: translate(-90%, -90%);
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position:absolute;
  top:850%;
  left:46%;
  transform: translate(-90%, -90%);
  z-index: 9;
}
.form-container {
  max-width: 400px;
  padding: 20px;
  background-color: #c7c9c9;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.form-container .btn {
  background-color: #129A48;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: #dd8636;
}